In [1]:
import pandas as pd
import joblib

In [2]:
from fydjob.NLPFrame import NLPFrame

ndf = NLPFrame()
df = ndf.df

Loaded from /home/vlud/code/OWNER_vlad/find-your-dream-job/fydjob/output/nlp_frame.joblib
Loaded from /home/vlud/code/OWNER_vlad/find-your-dream-job/fydjob/output/nlp_frame.joblib

In [3]:
df.query_text.value_counts()

kaggle_1       5262
scrape_json     619
Name: query_text, dtype: int64

In [4]:
df.set_index('job_id')

,job_title,job_text,company,location,job_info,job_link,query_text,source,tag_language,reviews
job_id,,,,,,,,,,
1,Data Scientist / Matching Engineer (m/w/d),You are responsible for improvement of Taledo’...,Taledo,Berlin,Data Scientist / Matching Engineer (m/w/d)\nTa...,data engineer,scrape_json,None,en,None
2,Senior Software Engineer - Data Platform,We are looking for a Senior Software Engineer ...,Zalando SE,Berlin,Senior Software Engineer - Data Platform\nZala...,data engineer,scrape_json,None,en,None
3,Senior Data Engineer (m/w/t),"As a member of the Data Engineering Team, you ...",Quandoo GmbH,Berlin,Senior Data Engineer (m/w/t)\nQuandoo GmbH17 B...,data engineer,scrape_json,None,en,None
4,Data Engineer (w/m/d),We are digitty.io – an international start-up ...,digitty.io,Berlin,Data Engineer (w/m/d)\ndigitty.io - Berlin,data engineer,scrape_json,None,en,None
5,Data Engineer,We activate data for our clients by using stat...,Gemma Analytics,Berlin,Data Engineer\nGemma Analytics - Berlin,data engineer,scrape_json,None,en,None
...,...,...,...,...,...,...,...,...,...,...
5877,"Manager, Machine Learning",Job Description\nAlexa is Amazon's new cloud-b...,Amazon.com,SunnyvaleCA,None,None,kaggle_1,None,en,25907.0
5878,Lead Data Scientist - Haskell,Description:\nTarget is looking for engineers ...,TARGET,SunnyvaleCA,None,None,kaggle_1,None,en,33275.0
5879,Senior Data Scientist (GEC11902),Position Description\nProficient in Java or Py...,Walmart,SunnyvaleCA,None,None,kaggle_1,None,en,148114.0
5880,Senior Data & Applied Scientist,We are the Bing Core Relevance team responsibl...,Microsoft,SunnyvaleCA,None,None,kaggle_1,None,en,4618.0
5881,"Principal Data Scientist, Deep Learning",Comcast’s Technology &amp; Product organizatio...,Comcast,SunnyvaleCA,None,None,kaggle_1,None,en,11610.0

In [5]:
df.head()

,job_id,job_title,job_text,company,location,job_info,job_link,query_text,source,tag_language,reviews
0,1,Data Scientist / Matching Engineer (m/w/d),You are responsible for improvement of Taledo’...,Taledo,Berlin,Data Scientist / Matching Engineer (m/w/d)\nTa...,data engineer,scrape_json,None,en,None
1,2,Senior Software Engineer - Data Platform,We are looking for a Senior Software Engineer ...,Zalando SE,Berlin,Senior Software Engineer - Data Platform\nZala...,data engineer,scrape_json,None,en,None
2,3,Senior Data Engineer (m/w/t),"As a member of the Data Engineering Team, you ...",Quandoo GmbH,Berlin,Senior Data Engineer (m/w/t)\nQuandoo GmbH17 B...,data engineer,scrape_json,None,en,None
3,4,Data Engineer (w/m/d),We are digitty.io – an international start-up ...,digitty.io,Berlin,Data Engineer (w/m/d)\ndigitty.io - Berlin,data engineer,scrape_json,None,en,None
4,5,Data Engineer,We activate data for our clients by using stat...,Gemma Analytics,Berlin,Data Engineer\nGemma Analytics - Berlin,data engineer,scrape_json,None,en,None

In [6]:
def get_similarities(text, text_vector):
    similarities = []
    for i, t in enumerate(text_vector):
        sim = len(set(text) & set(t)) / (len(set(text)) + len(set(t))) * 2
        similarities.append((i, sim))
    similarities = sorted(similarities, key=lambda x: x[1], reverse=True)
    return similarities

In [7]:
job_sims = {}

for i, job in enumerate(df[:50].job_text_tokenized):
    sims = [x for x in get_similarities(job, df.job_text_tokenized)
           if x[1] > .95 and x[0] != i]
    job_sims[i] = sims

AttributeError: 'DataFrame' object has no attribute 'job_text_tokenized'

In [ ]:
job_sims

In [ ]:
def see_pair(first, second):
    print(df.iloc[first]['job_text'])
    print('-'*100)
    print(df.iloc[second]['job_text'])

In [ ]:
see_pair(34, 89)

In [ ]:
t1 = df.job_text_tokenized[30]

In [ ]:
sims = get_similarities(t1, df.job_text_tokenized)

In [ ]:
sims

In [ ]:
print(df.iloc[0]['job_text'])

In [ ]:
print(df.iloc[565]['job_text'])

In [ ]:
df.loc[[1, 2]]

In [ ]:
df = joblib.load('output/indeed_proc/processed_data.joblib')

In [ ]:
df